.ipynb_checkpoints/
__pycache__/
*.pyc
.venv/
.env
.DS_Store

# Datasets downloaded at runtime
deep-learning/data/MNIST/
deep-learning/data/cifar-10-batches-py/
deep-learning/data/*.tar.gz
computer-vision/data/MNIST
computer-vision/data/license_plates
computer-vision/runs/
recommender-systems/data/MIND
